@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');
.App {
  text-align: center;
  font-family: 'Mulish', sans-serif;
  padding-top: 30px;
};

.button{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #6a6375ed;
  border-radius: 6px;
  border: 2px solid #6a6375fd;
  margin: 20px;
  cursor: pointer;
}
